/* IMport Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700;1,900&display=swap');

/* Reset HTML */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Tags mod*/

ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

li > a {
    color: white;
    font-weight: bold; 
}

a {
    text-decoration: none;
    color: rgb(23, 24, 24); 
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 40px;
}

p{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;

}


div > a {
    text-align: center;
}


div.button2 > a {
    color: white;
    text-align: center;
}

div > p{
    color: black;
    text-align: left;
    margin-top: 5%;
    font-weight: 300;

}

div.footer_container > div > nav > ul li {
    display: block;
    list-style: none;
    margin-left: 40px;
}

div.block-f-button > a{
    color: white;
}

nav > ul > li > a.fontsmalllink{
    font-size: 1em;
}

/* Blocks */
/* Header */

.block-header{
    width: 100%;
    height: 70px;
    background-color: rgb(84, 0, 226);
    padding: 20px 40px;
}

.block-h-logo{
    display: inline-block;
    width: 124px;
    height: 100%;
    vertical-align: middle;

}

.header-img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin-left: 100px;
}

.block-h-menu{
    display: inline-block;
    width: 60%;
    height: 50px;
    margin-left: 200px;
    color: white;
}


.block-h-button{
    display: inline-block;
    width: 70px;
    height: 30px;
    float: right;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    padding: 7px;
}

/* Main */
/* Jumbo Section*/

.block-main-wallpaper{ 
    display: inline-block;   
    width: 100%;
    height: 500px;
    background-image: url(./../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top:  6%;
    padding-left: 27%;
    margin-bottom: 1px;
    
}

.block-m-text{
    display: inline-block;
    width: 70%;
    height: 300px;
    margin-bottom: 3%;

}

.container_buttons{
    display: inline-block;
    width: 90%;
    height: 300px;
    margin-left: 10%;
}

.button{
    display: inline-block;
    width: 35%;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    padding: 2% 3%;
    text-align: center;
    font-size: 0.9em;
    margin-right: 3%;
}

.button2{
    display: inline-block;
    width: 40%;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(40, 43, 46);
    text-align: center;
    padding: 2% 1%;
    font-size: 0.9em;
    vertical-align: middle;
}

.arrowunicode{
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
}

/* Section 1*/

.block-main-section1{   
    display: inline-block; 
    width: 100%;
    height: 500px;
    background-color: white;
    padding:  5%;
}

.container-main-imgtext{
    display: inline-block; 
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 3%;
}

.main-img{
    display: inline-block; 
    width: 45%;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 30%;
    margin-right: 60px;
}

.main-text{
    display: inline-block; 
    width: 48%;
    height: 300px;
}

.main_big_font{
    display: inline-block; 
    font-size: 2em;
    color: black;
}

.waveborder{
    display: inline-block;
    background-color: rgb(45, 45, 45);
    filter: invert(1);
    transform: scaleY(-1);
}

.waveborder{
    transform: scale(-1);
}

/* Section 2*/

.block-main-section2{   
    display: inline-block; 
    width: 100%;
    height: 500px;
    background-color: lightgray;
    padding:  5%;
    margin-top: -5px;
}

.container-main-imgtext1{
    display: inline-block; 
    width: 70%;
    height: 300px;
    margin-left: 15%;
}

.main-text1{
    display: inline-block; 
    width: 40%;
    height: 300px;
}


.main-img1{
    display: inline-block; 
    width: 45%;
    height: 300px;
    margin-bottom: -10%;
    margin-right: 10%;

}

.main_big_font1{
    display: inline-block; 
    font-size: 2em;
    color: black;
}

.waveborder1{
    display: inline-block;
    background-color: rgb(45, 45, 45);
    filter: invert(1);
    transform: scaleY(1);
}

/* Section 3*/

.block-main-section2{   
    display: inline-block; 
    width: 100%;
    height: 500px;
    background-color: lightgray;
    padding:  5%;
}

.container-main-imgtext3{
    display: inline-block; 
    width: 80%;
    height: 300px;
    margin-left: 10%;
}

.main-img3{
    display: inline-block; 
    width: 50%;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 12%;
    margin-right: 60px;

}

.main-text3{
    display: inline-block; 
    width: 30%;
    height: 300px;
}

.main_big_font1{
    display: inline-block; 
    font-size: 2.1em;
    color: black;
}

.waveborder2{
    display: inline-block;
    background-color: rgb(45, 45, 45);
    filter: invert(1);
    transform: scaleY(-1);
}

.waveborder2{
    transform: scale(-1);
}

/* Section 4*/

.block-main-section3{   
    display: inline-block; 
    width: 100%;
    height: 900px;
    background-color: lightgray;
    padding:  5%;
    margin-top: -5px;
}

.container-main-imgtext4{
    display: inline-block; 
    width: 80%;
    height: 300px;
    margin-left: 10%;
    text-align: center;
}

.main_big_font2{
    display: inline-block; 
    font-size: 2.5em;
    color: black;
    
}

.main-img4{
    display: inline-block; 
    width: 60%;
    height: 100%;
    transform: scale(1.8);
    margin-top: 100px;
    
}

.container_mediumfont{
    display: inline-block; 
    width: 50%;
    height: 25px;
    margin-top: 10%;
    margin-left: 32%;
    background-image: url(./../img/stars.svg);
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: 15%;
    padding: 2% 7%;
}

.main_medium_font{
    display: inline-block; 
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: center;
}

.block-main-button{
    display: block;
    width: 12%;
    height: 30px;
    background-color: rgb(148, 141, 226);
    border-radius: 50px;
    text-align: center;
    font-size: 0.8em;
    padding: 7px;
    margin-top: 2%;
    margin-left: 43%;
}

/* Footer */

.footer_container{
    display: inline-block;
    width: 100%;
    height: 500px;
    background-color: rgb(40, 43, 46);
}

.footerfollow{
    display: inline-block;
    width: 10%;
    height: 100px;
    margin-left: 5%;
}

.footer{
    font-weight: bold;
}
.navf1{
    display: inline-block;
    margin-left: 30%;
}

.navf2{
    display: inline-block;
    margin-left: 8%;
}

.bottombarcontainer{
    display: inline-block;
    width: 80%;
    height: 10px;
    margin-left: 10%;
    margin-top: 20%;
    border-bottom: 1px solid rgb(124, 108, 219);
}

.logofooter{
    display: inline-block;
    width: 124px;
    height: 100%;
    margin-top: 40px;
    transform: scale(3);
}

.block-f-button{
    display: inline-block;
    width: 70px;
    height: 30px;
    float: right;
    font-weight: bold;
    background-color: rgb(148, 141, 226);
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    padding: 7px;
    margin-top: 30px;
}

/* Utility */

.style_font_p1{
    text-align: center;
    margin: 2%;
}

.inversecolor{
    filter: invert(1);
}

.colorwhite{
    color: white;
}

.fcolorpurple{
    color: rgb(148, 141, 226);
    font-size: 1.5em;
}